@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;700&display=swap');

/* BUILT-IN */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    /* border: 1px solid black; */
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    color: #232529;
}
a {
    color: #232529;
    text-decoration: none;
}
li {
    display: inline;
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
}
/* END OF BUILT-IN */

/* CUSTOM PROPERTIES */
#alert {
    width: 100%;
    max-width: 100%;
    padding: 18px 0;
    background-color: #FCF8F8;
}

#alert p {
    color: #232529;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

#container {
    padding: 42px 240px;
}
li:not(:last-child), li:not(:first-child) {
    margin: 0 8px;
}
.right-side {
    max-width: 50%;
    display: flex;
    align-items: center;
}
.arrow {
    display: flex;
    margin-right: 14px;
    flex-direction: column;
}
.left-side {
    max-width: 60%;
}
.left-side h1 {
    font-size: 48px;
}
.desc {
    font-weight: 400;
    color: #6A707D;
    margin-top: 18px;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.0125em;
}
/* HEADER */
.navBar li {
    font-size: 16px;
    font-weight: 500;
    color: #232529;
}
.header{
    display:flex;
    align-items: center;
    margin-bottom: 64px;
    justify-content: space-between;
}
.right{
    padding: 6px;
    border: none;
    display: flex;
    margin-top: 8px;
    font-size: 17px;
    margin-right: 16px;
    transform: translateY(10px);
}
.arrow button{
    border: none;
    background: transparent;
}
.gambar{
    display: flex;
    position: absolute;
    justify-content: center;
    transform: translate(-100%, -50%);
}
.gambar a{
    transform: translateX(10px);
}
.search-box{
    display: flex;
}
.search-btn{
    border: none;
    font-size: 20px;
    margin-right: 12px;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.search-box{
    /* position: absolute; */

    height: 40px;
    border-radius: 40px;
    padding: 10px;

}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
    top: 50px;
}
.search-box:hover > .search-btn{
   background: white;
    }
.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;   
    line-height: 40px;
    width: 0px;
}

.icon{
    visibility: hidden;
}
/* CONTENT */
.content{
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Slide{
    display: none;
}
.slide-image {
    border-radius: 32px;
    width: 350px;
    height: 350px;
}
#counter-section {
    display: flex;
    flex-direction: row;
}
.counters {
    margin-top: 42px;
    display: flex;
}
.counter-rights {
    margin-right: 24px;
}
.counter-rights p {
    font-size: 16px;
}
.counter-lefts {
    margin-right: 16px;
}
.konten{
    margin-top: 56px;
}
.card-container{
    display: inline-flex;
    margin-top: 56px;
    gap: 1.5rem;
}
.card{
    width: 402px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    height: 560px;
    margin-bottom: 72px;
}

.card p{
    letter-spacing: 0.0125em;
    color: #fff;
    margin-bottom: 32px;
    margin-left: 32px;
    font-family: "Inter", sans-serif;
}

.title-card {
    letter-spacing: 0.0125em;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    margin-bottom: 12px;
}
/* Hero */
.title-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 72px;
}
.title-hero h4{
    transform: translateX(500px);
    font-size: 24px;
}
.title-hero span{
    transform: translateY(5px);
}
.swiper {
    width: 80%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 400px;
    height: 560px;
    object-fit: cover;
}
/* Choose */
.choose{
    display: flex;
    justify-content: flex-start;
}
.choose-text{
    transform: translateY(20%);
} 
.choose p {
    line-height: 38px;
    color: #6A707D;
    letter-spacing: 0.04em;
    font-size: 22px;
    font-weight: 500;

}
.post-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 52px;
}
.post-title h4{
    transform: translateX(650px);
    font-size: 24px;
}
.post-title span{
    transform: translateY(5px);
}
.location{
    display: flex;
}
.location p{
    margin-left: 12px;
}
.post-content{
    border: 1px solid #6A707D;
    height: 320px;
    width: 800px;
    display: flex;
    align-items: center;
    padding: 20px 24px;
}
.post-content p {
    font-size: 15px;
    text-align: justify;
}
.post-content h2{
    font-size: 32px;
}
.post-img img{
    width: 280px;
    height:280px;
    margin-right: 24px;
}
.explore{
    width: 100px;
    height: 20px;
}
.explore span{
    transform: translateY(6px);
}
.card-post{
    display: flex;
    gap: 1rem;
}



@media screen and (max-width: 767px) {
    #container {
        padding: 0;  
    }
    .header .icon{
        display: block;
    }
    .header .navBar{
        position: absolute;
        right: 20px;
        top: -400px;
        background-color: yellow;
        width: 250px;
    }
    .header .navBar.active{
        top: 100px;
    }
    .header ul{
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    .header ul li{
        margin: 20px 10px 20px 30px;
    }
    .icon{
        visibility: visible;
    }
    .gambar{
        display: none;
    }
    .content{
        flex-direction: column-reverse;
        margin-bottom: 36px;
    }
    .right-side{
        max-width: none;
        display: inline;
    }
    .arrow {
        display: none;
    }
    .left-side h1 {
        max-width: none;
        font-size: 20px;
        text-align: center;
    }
    .desc{
        line-height: 24px;
        letter-spacing: 0px;
    }
    .left-side p{
        font-size: 14px;
        text-align: justify;
    }
    #counter-section{
        flex-direction: column;
    }
    .discover{
        visibility: hidden;
    }
    .title-hero{
        margin-top: 36px;
        display: inline;
        text-align: center;
    }
    .title-hero h4{
        transform: translateX(0);
    }
    .card {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
}